* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    font-family: 'Gilroy', sans-serif;
    src: url(../fonts/gilroy/Gilroy-Regular.ttf);
    font-family: 'Gilroy-semiBold' sans-serif;
    src: url(../fonts/gilroy/Gilroy-SemiBold.ttf);
    font-family: 'Gilroy-bold' sans-serif;
    src: url(../fonts/gilroy/Gilroy-Bold.ttf);
    font-family: 'Gilroy-medium' sans-serif;
    src: url(../fonts/gilroy/Gilroy-Medium.ttf);
    position: relative;
}

a {
    text-decoration: none;
}

.navbar {
    display: block;
    margin-top: 50px;
}

.yellow-bckgr {
    background-color: #F9F1E7;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    /* max-width: 117% because of transform: translateX(-50%), otherwise is 67% */
    max-width: 117vw;
    width: 100%;
    height: 500px;
}

.navbar_container {
    max-width: 86.25vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    z-index: 10;
    margin-right: 44px;
}

.navbar_container ul {
    display: flex;
    list-style-type: none;
    font-size: 16px;
}

.navbar_container li {
    margin-right: 44px;
    font-weight: 500;
}

.navbar_container li a {
    text-decoration: none;
    color: #3A3A3A;
    position: relative;
}

.products img,
.rooms img {
    position: absolute;
    top: 3px;
}

.products img {
    left: 74px;
}

.rooms img {
    left: 60px;
}

#form {
    position: relative;
}

#form input {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 475px;
    height: 45px;
    background: #fff;
    position: relative;
    padding-left: 50px;
}


/* #form input:before {
    display: inline-block;
    content: '';
    width: 150px;
    height: 150px;
    background: url("../img/Search.png") no-repeat center center;
    position: absolute;
    top: 50%;
    left: 110px;
} */

#form img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 100;
    width: 20px;
    height: auto;
}

#form button {
    display: none;
}

.right-side {
    display: flex;
    margin-left: auto;
}

.right-side .profile img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.right-side div {
    margin-right: 44px;
}

.right-side div:last-of-type {
    margin-right: 0;
}


/* slider */

.top-slider {
    max-width: 86.25vw;
    height: 625px;
    margin-left: auto;
}

.slide {
    max-width: 1250px;
    height: 755px !important;
    position: relative;
}

.slide_box {
    background-color: #fff;
    /* opacity: .72; */
    position: absolute;
    top: 0;
    left: 0;
    width: 495px;
    height: 550px;
}

.slide_box__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 13%;
    padding-right: 13%;
}

.slide_box h2 {
    font-size: 56px;
    font-weight: 900;
    line-height: 67.2px;
    margin-bottom: 15px;
    color: #3a3a3a;
}

.slide_box p {
    color: #898989;
    font-size: 20px;
    margin-bottom: 50px;
    /* filter: drop-shadow(0px 4px 4px 0px rgba(0, 0, 0, 0.25)); */
    /* text-shadow: 0px 4px 4px 0px rgba(0, 0, 0.25); */
}

.purchase_item {
    background-color: #E89F71;
    color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}

.slide_1 {
    background: url("../img/twain.jpg") no-repeat center center;
}

.slide_2 {
    background: url("../img/2.jpg") no-repeat center center;
}

.slide_3 {
    background: url("../img/3.jpg") no-repeat center center;
}

.slide_4 {
    background: url("../img/4.jpg") no-repeat center center;
}

.slide_5 {
    background: url("../img/5.jpg") no-repeat center center;
}